@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.px-165 {
  padding-left: calc(10vw + 0px);
  padding-right: calc(10vw + 0px);
}
